<!-- Template Name: Lolwork
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Framework CSS
*/ -->
<!DOCTYPE html>
<html lang="en">

</html>
<title>Rojas-Nelson Aero-Spazio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">

  <div class="fl_right">

  </div>
  <!-- ################################################################################################ -->
  </div>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="/">Rojas-Nelson Aero-Spazio</a></h1>
        <p>Space Travel</p>
      </div>
      <!-- ################################################################################################ -->
      <nav id="mainav" class="center">
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          <li><a class="drop" href="#">Menu</a>
            <ul>
              <li><a href="/gallery">Gallery</a></li>
              <!-- <li><a href="pages/full-width.html">Full Width</a></li> -->
              <!-- <li><a href="pages/Register.html">Register</a></li> -->
              <li><a href="/Login">Login</a></li>
              <!-- <li><a href="pages/basic-grid.html">Basic Grid</a></li> -->
            </ul>
          </li>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/crew04.png');">
    <div id="pageintro" class="hoc clear">
      <!-- ################################################################################################ -->
      <article>
        <h2 class="heading">Orbit Hotel</h2>
        <p>a $1 million dollar$ view</p>
        <footer><a class="btn" href="#">Register</a></footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="center btmspace-50">
        <h2 class="heading">EXPERIENCE OUR HOME PLANET FROM OVER 300km UP</h2>
        <p> Pyramids by day, to the glow of city lights, lightning storms, and the Aurora Borealis by night. Dragon
          fully orbits the Earth every 90 minutes, making a highly customized flight path possible. Fly over your
          hometown, famous landmarks and other places meaningful to you.</p>
      </div>
      </article>
      </li>
      <ul class="nospace group btmspace-50">
        <li class="one_third first">
          <article class="element">
            <figure>
              <img src="https://www.spacex.com/static/images/falcon-heavy/FH_1.jpg" alt="">
              <figcaption><a class="btn small" href="#">More</a></figcaption>
            </figure>
            <div class="excerpt">
              <h6 class="heading"><a href="#"><strong>Falcon Heavy</strong></a></h6>
              <p>Falcon Heavy is the most powerful operational rocket in the world by a factor of two. With the ability
                to lift into orbit nearly 64 metric tons (141,000 lb) Falcon Heavy can lift more than twice the payload
                of the next closest operational vehicle, the Delta IV Heavy. Falcon Heavy is composed of three Falcon 9
                nine-engine cores whose 27 Merlin engines together generate more than 5 million pounds of thrust at
                liftoff, equal to approximately eighteen 747 aircraft.</p>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article class="element">
            <figure><img src="https://www.spacex.com/static/images/backgrounds/dragon_feature.jpg" alt="">
              <figcaption><a class="btn small" href="#">More</a></figcaption>
            </figure>
            <div class="excerpt">
              <h6 class="heading"><a href="#"><strong>Registration</strong></a></h6>
              <p>
              <form action="#" method="post">

                <label for="username">First Name:</label>
                <input type="text" id="username" name="username" placeholder="First Name" required>

                <label for="l_name">Last Name:</label>
                <input type="text" id="l_name" name="l_name" placeholder="Last Name" required>

                <label for="mail">E-mail:</label>
                <input type="email" id="email" name="user_email" placeholder="Please enter e-mail" required>

                <label for="password">Create Password:</label>
                <input type="password" id="password" name="password" placeholder="Create Password" minlength="8"
                  required>

                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"
                  minlength="8" required>

                <strong>Select to subscribe to our newsletter:</strong>
                <input type="checkbox" id="sub_yes" name="sub_yes" value="sub_yes">
                <div class="button"><button type="submit">SUBMIT</button></div>
                </p>
              </form>

            </div>

          </article>
        </li>
        <li class="one_third">
          <article class="element">
            <figure><img src="https://www.spacex.com/static/images/starship/CAPABILITIES__MOON.gif" alt="">
              <figcaption><a class="btn small" href="#">More</a></figcaption>
            </figure>
            <div class="excerpt">
              <h6 class="heading"><a href="#"><strong>Starship</strong></a></h6>
              <p>SpaceX’s Starship spacecraft and Super Heavy rocket (collectively referred to as Starship) represent a
                fully reusable transportation system designed to carry both crew and cargo to Earth orbit, the Moon,
                Mars and beyond. Starship will be the world’s most powerful launch vehicle ever developed, with the
                ability to carry in excess of 100 metric tonnes to Earth orbit.</p>
            </div>
          </article>
        </li>
      </ul>


      <p></p>



      <!-- / main body -->
      <div class="clear"></div>
    </main>


  </div>

  <div class="wrapper bgded overlay coloured" style="background-image:url('images/demo/backgrounds/02.png');">
    <div class="hoc container clear">
      <!-- ################################################################################################ -->
      <article class="center">
        <h2 class="font-x3 uppercase">
          Earth Orbit

        </h2>
        <p class="btmspace-50 font-x2 capitalise">EXPERIENCE OUR HOME PLANET FROM OVER 300km UP</p>
        <footer>
          <ul class="nospace inline pushright">
            <li><a class="btn inverse" href="#">Maecenas</a></li>
            <li><a class="btn" href="#">Venenatis</a></li>
          </ul>
        </footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>

  <!-- ################################################################################################ -->
  <div class="one_quarter first">


  </div>
  <div class="one_quarter">
    <h6 class="title">Contact Us</h6>
    <ul class="nospace linklist contact">
      <li><i class="fa fa-map-marker"></i>
        <address>
          Street Name &amp; Number, Town, Postcode/Zip
        </address>
      </li>
      <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
        +00 (123) 456 7890</li>
      <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
      <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
    </ul>
  </div>
  <div class="one_quarter">
    <h6 class="title">Our Team</h6>
    <ul class="nospace linklist">
      <li><a href="#">Alejandro Rojas</a></li>
      <li><a href="#">Jacob Rojas-Nelson</a></li>
      <li><a href="#">Joshua Rojas-Nelson</a></li>
      <li><a href="#">Dr. Heather Nelson</a></li>
    </ul>
  </div>

  </footer>
  </div>

  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Rojas-Nelson Aero-Spazio</a></p>
    </div>

  </div>

  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

</body>

</html>